@charset 'utf-8';

:host {
	width: 100%;
	height: auto;
	
	&.height100 {
		height: 100%;
	}
}

svg {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	
	:host.height100 & {
		height: 100%;
	}
}
