<p>tester</p>

<section>
	<graphics-xy-line-chart
			[width]="200"
			[height]="100"
			[scaleX]="this.scaleX"
			[scaleY]="this.scaleY"
			[showGridX]="false"
			[showGridY]="false"
			[showScaleXTicks]="false"
			[showScaleYTicks]="false"
			[showScaleX]="false"
			[showScaleX]="false"
			[scaleXTextOffset]="0.05"
			[scaleYTextOffset]="0.02"
			[showPoints]="true"
			[showLines]="true"
			[data]="this.data"
	></graphics-xy-line-chart>
</section>
