.scale-x-text,
.scale-y-text {
	font-family: Arial, Helvetica, sans-serif;
}

.scale-x-text {
	text-align: center;
	text-anchor: middle;
	dominant-baseline: hanging;
}

.scale-y-text {
	text-align: end;
	text-anchor: end;
	dominant-baseline: middle;
}
