<graphics-svg class="height100"
		[width]="this.width"
		[height]="this.height"
>
	<ng-container *ngIf="this.showGridX">
		<ng-container *ngFor="let scale of this.internalScaleX; index as i">
			<svg:path *ngIf="i > 0"
					[style.stroke]="this.gridLineColor"
					[style.strokeWidth]="this.gridStrokeWidth * this.width"
					[attr.d]="this.getGridXPath(scale.position)"
			/>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="this.showGridY">
		<ng-container *ngFor="let scale of this.internalScaleY; index as i">
			<svg:path *ngIf="i > 0"
					[style.stroke]="this.gridLineColor"
					[style.strokeWidth]="this.gridStrokeWidth * this.width"
					[attr.d]="this.getGridYPath(scale.position)"
			/>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="this.showScaleXTicks">
		<ng-container *ngFor="let scale of this.internalScaleX">
			<svg:path
					[style.stroke]="this.scaleLineColor"
					[style.strokeWidth]="this.scaleStrokeWidth * this.width"
					[attr.d]="this.getScaleXTickPath(scale.position)"
			/>
			<svg:text class="scale-x-text"
					[attr.x]="this.getScaleXTextX(scale.position)"
					[attr.y]="this.getScaleXTextY()"
					[attr.font-size]="this.width * this.scaleTextSize"
			>{{ scale | scale }}</svg:text>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="this.showScaleYTicks">
		<ng-container *ngFor="let scale of this.internalScaleY">
			<svg:path
					[style.stroke]="this.scaleLineColor"
					[style.strokeWidth]="this.scaleStrokeWidth * this.width"
					[attr.d]="this.getScaleYTickPath(scale.position)"
			/>
			<svg:text class="scale-y-text"
					[attr.x]="this.getScaleYTextX()"
					[attr.y]="this.getScaleYTextY(scale.position)"
					[attr.font-size]="this.width * this.scaleTextSize"
			>{{ scale | scale }}</svg:text>
		</ng-container>
	</ng-container>

	<svg:path *ngIf="this.showScaleX"
			[style.stroke]="this.scaleLineColor"
			[style.strokeWidth]="this.scaleStrokeWidth * this.width"
			[attr.d]="this.getScaleXLinePath()"
	/>
	<svg:path *ngIf="this.showScaleY"
			[style.stroke]="this.scaleLineColor"
			[style.strokeWidth]="this.scaleStrokeWidth * this.width"
			[attr.d]="this.getScaleYLinePath()"
	/>

	<ng-content></ng-content>
</graphics-svg>
