<graphics-xy-area-chart
		[width]="this.width"
		[height]="this.height"
		[leftIndent]="this.leftIndent"
		[rightIndent]="this.rightIndent"
		[topIndent]="this.topIndent"
		[bottomIndent]="this.bottomIndent"
		[scaleXTextOffset]="this.scaleXTextOffset"
		[scaleYTextOffset]="this.scaleYTextOffset"
		[scaleX]="this.scaleX"
		[scaleY]="this.scaleY"
		[scaleLineColor]="this.scaleLineColor"
		[scaleStrokeWidth]="this.scaleStrokeWidth"
		[scaleTextColor]="this.scaleTextColor"
		[scaleTextSize]="this.scaleTextSize"
		[minX]="this.minX"
		[maxX]="this.maxX"
		[minY]="this.minY"
		[maxY]="this.maxY"
		[showScaleX]="this.showScaleX"
		[showScaleY]="this.showScaleY"
		[showScaleXTicks]="this.showScaleXTicks"
		[showScaleYTicks]="this.showScaleYTicks"
		[showScaleXValues]="this.showScaleXValues"
		[showScaleYValues]="this.showScaleYValues"
		[gridLineColor]="this.gridLineColor"
		[gridStrokeWidth]="this.gridStrokeWidth"
		[showGridX]="this.showGridX"
		[showGridY]="this.showGridY"
>
	<ng-container *ngIf="this.showLines">
		<ng-container *ngFor="let d of this.internalDatas">
			<ng-container *ngFor="let point of d.refactoredPoints; index as i">
				<svg:path *ngIf="i > 0"
						[style.stroke]="d.color"
						[style.strokeWidth]="this.lineStrokeWidth * this.width"
						[attr.d]="this.getLinePath(point, d.refactoredPoints[i - 1])"
				></svg:path>
			</ng-container>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="this.showPoints">
		<ng-container *ngFor="let d of this.internalDatas">
			<svg:circle *ngFor="let point of d.refactoredPoints"
					[attr.cx]="this.getPointX(point.positionX)"
					[attr.cy]="this.getPointY(point.positionY)"
					[attr.r]="this.pointRadius * this.width"
					[attr.fill]="d.color"
			></svg:circle>
		</ng-container>
	</ng-container>
</graphics-xy-area-chart>
